absl-py==0.4.1
astor==0.7.1
chardet==3.0.4
cmake==3.13.3
dlib==19.7.0
docutils==0.14
gast==0.2.0
grpcio==1.12.1
h5py==2.8.0
idna==2.7
imutils==0.5.2
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
keras-vggface==0.5
Kivy==1.10.1
Markdown==2.6.11
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.2
olefile==0.46
opencv-python==4.0.0.21
pandas==0.24.0
Pillow==5.2.0
protobuf==3.6.0
Pygments==2.3.1
requests==2.20.1
scipy==1.1.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.15.0
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
